@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

/* Leaflet map styles */
.leaflet-container {
    height: 100vh;
    width: 100%;
}

.custom-div-icon {
    background: transparent;
    border: none;
}

/* Hide scrollbar for category panel */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
